async-timeout==4.0.3 ; python_version >= "3.11" and python_full_version < "3.11.3"
certifi==2024.7.4 ; python_version >= "3.11" and python_version < "4.0"
dnspython==2.6.1 ; python_version >= "3.11" and python_version < "4.0"
mongoengine==0.28.2 ; python_version >= "3.11" and python_version < "4.0"
pymongo==4.8.0 ; python_version >= "3.11" and python_version < "4.0"
pymongo[srv]==4.8.0 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
redis-lru==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
redis==5.0.8 ; python_version >= "3.11" and python_version < "4.0"
